{% macro input_elements(elements) %}
  {% import _self as macros %}
  {% for name,item in elements %}
    {% if item.value %}
      <label for='{{item.id}}'>{{item.label}}</label>
      <input type='text' list='jsonpopulate-datalist' id='{{item.id}}' name='{{name}}' value='{{ item.value }}'></input>
    {% else %}
      <fieldset id='{{item.id}}'>
        <legend>{{item.label}}</legend>
        {% if item.children %}
          {{ macros.input_elements(item.children) }}
        {%endif%}
      </fieldset>
    {%endif%}
  {%endfor%}
{% endmacro %}
{% import _self as macros %}
<form id='form' method='POST' action='/?id={{ current_id }}'>
  {{ macros.input_elements(form) }}
</form>
